In [1]:
import pandas as pd

In [21]:
with open('ssdata/ord.5.tab') as f:
    raw_data = [r.replace('\n', '').split('\t') for r in f.readlines()]
    df = pd.DataFrame(raw_data[1:], columns=raw_data[0])

In [22]:
labels = df[['H', 'E', 'T', 'S', 'B', ' ']]
data = df.drop(['H', 'E', 'T', 'S', 'B', ' '], axis=1)

In [23]:
labels.head()

   H  E  T  S  B
0  0  0  0  0  0  1
1  0  0  0  0  0  1
2  1  0  0  0  0  0
3  1  0  0  0  0  0
4  1  0  0  0  0  0

In [24]:
data.head()

  pos A-2 C-2 D-2 E-2 F-2 G-2 H-2 I-2 K-2 ... N2 P2 Q2 R2 S2 T2 V2 W2 Y2 -2
0   2   0   0   0   0   0   0   0   0   0 ...  0  1  0  0  0  0  0  0  0  0
1   3   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
2   4   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
3   5   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
4   6   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  1  0  0  0  0

[5 rows x 106 columns]

In [26]:
list(data.columns)

['pos',
 'A-2',
 'C-2',
 'D-2',
 'E-2',
 'F-2',
 'G-2',
 'H-2',
 'I-2',
 'K-2',
 'L-2',
 'M-2',
 'N-2',
 'P-2',
 'Q-2',
 'R-2',
 'S-2',
 'T-2',
 'V-2',
 'W-2',
 'Y-2',
 '--2',
 'A-1',
 'C-1',
 'D-1',
 'E-1',
 'F-1',
 'G-1',
 'H-1',
 'I-1',
 'K-1',
 'L-1',
 'M-1',
 'N-1',
 'P-1',
 'Q-1',
 'R-1',
 'S-1',
 'T-1',
 'V-1',
 'W-1',
 'Y-1',
 '--1',
 'A0',
 'C0',
 'D0',
 'E0',
 'F0',
 'G0',
 'H0',
 'I0',
 'K0',
 'L0',
 'M0',
 'N0',
 'P0',
 'Q0',
 'R0',
 'S0',
 'T0',
 'V0',
 'W0',
 'Y0',
 '-0',
 'A1',
 'C1',
 'D1',
 'E1',
 'F1',
 'G1',
 'H1',
 'I1',
 'K1',
 'L1',
 'M1',
 'N1',
 'P1',
 'Q1',
 'R1',
 'S1',
 'T1',
 'V1',
 'W1',
 'Y1',
 '-1',
 'A2',
 'C2',
 'D2',
 'E2',
 'F2',
 'G2',
 'H2',
 'I2',
 'K2',
 'L2',
 'M2',
 'N2',
 'P2',
 'Q2',
 'R2',
 'S2',
 'T2',
 'V2',
 'W2',
 'Y2',
 '-2']