In [14]:
import pystruct
import pandas as pd
import numpy as np
from sklearn.cross_validation import train_test_split

In [3]:
data = pd.read_csv('../fixed_five.csv')
labels = pd.read_csv('../one_hot_labels.csv')

In [6]:
print data.shape
data.head()

(134815, 105)

,A-2,C-2,D-2,E-2,F-2,G-2,H-2,I-2,K-2,L-2,...,N2,P2,Q2,R2,S2,T2,V2,W2,Y2,-2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
print labels.shape
labels.head(10)

(134815, 6)

     H    E    T    S    B    U
0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0  0.0  0.0
5  1.0  0.0  0.0  0.0  0.0  0.0
6  1.0  0.0  0.0  0.0  0.0  0.0
7  1.0  0.0  0.0  0.0  0.0  0.0
8  1.0  0.0  0.0  0.0  0.0  0.0
9  1.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
from pystruct.learners import NSlackSSVM
from pystruct.models import MultiClassClf
clf = NSlackSSVM(MultiClassClf())

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data, labels)

In [ ]:
clf.fit(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)