In [1]:
import os
import pandas as pd

In [2]:
top_dir, _, files = os.walk('../ssdata/').next()

print files

for f in files:
    n = f.split('.')[:2]
    print '../csv_data/cleaned_'+str(n[0])+'_'+str(n[1])

['ord.11.tab', 'ord.13.tab', 'ord.15.tab', 'ord.17.tab', 'ord.19.tab', 'ord.5.tab', 'ord.7.tab', 'ord.9.tab']
../csv_data/cleaned_ord_11
../csv_data/cleaned_ord_13
../csv_data/cleaned_ord_15
../csv_data/cleaned_ord_17
../csv_data/cleaned_ord_19
../csv_data/cleaned_ord_5
../csv_data/cleaned_ord_7
../csv_data/cleaned_ord_9

In [5]:
for fi in files:
    n = fi.split('.')[:2]
    with open('../ssdata/'+fi) as f:
        raw_data = [r.replace('\n', '').split('\t') for r in f.readlines()]
        df = pd.DataFrame(raw_data[1:], columns=raw_data[0])
        df.drop(['H', 'E', 'T', 'S', 'B', ' '], axis=1, inplace=True)
        filename = '../csv_data/cleaned_'+str(n[0])+'_'+str(n[1])+'.csv'
        print filename
        df.to_csv(filename, index=False)

../csv_data/cleaned_ord_11.csv
../csv_data/cleaned_ord_13.csv
../csv_data/cleaned_ord_15.csv
../csv_data/cleaned_ord_17.csv
../csv_data/cleaned_ord_19.csv
../csv_data/cleaned_ord_5.csv
../csv_data/cleaned_ord_7.csv
../csv_data/cleaned_ord_9.csv

In [6]:
nine = pd.read_csv('../csv_data/cleaned_ord_9.csv')
nine.head()

,pos,A-4,C-4,D-4,E-4,F-4,G-4,H-4,I-4,K-4,...,N4,P4,Q4,R4,S4,T4,V4,W4,Y4,-4
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0