In [1]:
import numpy as np
import pandas as pd
from collections import Counter
from sys import stdout

In [25]:
with open('../ssdata/ord.5.tab') as f:
    data = [l.strip('\n').split('\t') for l in f.readlines()]

In [26]:
df = pd.DataFrame(data[1:], columns=data[0])

In [27]:
df.head()

  pos A-2 C-2 D-2 E-2 F-2 G-2 H-2 I-2 K-2 ... V2 W2 Y2 -2  H  E  T  S  B
0   2   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  1
1   3   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  1
2   4   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  1  0  0  0  0  0
3   5   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  1  0  0  0  0  0
4   6   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  1  0  0  0  0  0

[5 rows x 112 columns]

In [28]:
labels = df.copy()[['H', 'E', 'T', 'S', 'B', ' ']]
labels.head()

   H  E  T  S  B
0  0  0  0  0  0  1
1  0  0  0  0  0  1
2  1  0  0  0  0  0
3  1  0  0  0  0  0
4  1  0  0  0  0  0

In [29]:
df.drop(['H', 'E', 'T', 'S', 'B', ' '], axis=1, inplace=True)
df.head()

  pos A-2 C-2 D-2 E-2 F-2 G-2 H-2 I-2 K-2 ... N2 P2 Q2 R2 S2 T2 V2 W2 Y2 -2
0   2   0   0   0   0   0   0   0   0   0 ...  0  1  0  0  0  0  0  0  0  0
1   3   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
2   4   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
3   5   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
4   6   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  1  0  0  0  0

[5 rows x 106 columns]

In [30]:
def get_aminos(df, i):
    """
    Given the dataframe and index, find the aminos that are "on" (ie 1)
    """
    ser = df.ix[i]
    
    aminos = []
    
    for i, v in enumerate(ser.values):
        if v=='1':
            amino = ser.index.values[i]
            aminos.append(amino)
            
    return aminos

In [31]:
get_aminos(df, 0)

['--2', 'V-1', 'L0', 'S1', 'P2']

In [11]:
all_aminos = []

for i in range(df.shape[0]):
    all_aminos = all_aminos + get_aminos(df, i)

In [16]:
singles = [s[0] for s in all_aminos]

In [20]:
c = Counter(singles)
c

Counter({'-': 151689,
         'A': 44037,
         'C': 5762,
         'D': 31280,
         'E': 35118,
         'F': 22094,
         'G': 37650,
         'H': 12882,
         'I': 30261,
         'K': 29056,
         'L': 49745,
         'M': 12370,
         'N': 21594,
         'P': 23921,
         'Q': 19833,
         'R': 27091,
         'S': 28566,
         'T': 27912,
         'V': 36446,
         'W': 7345,
         'Y': 17962})

In [22]:
151689/len(singles)

0.22552162161358522

In [23]:
percents = {k:v/len(singles) for k, v in c.items()}

In [24]:
percents

{'-': 0.22552162161358522,
 'A': 0.06547142937851427,
 'C': 0.008566577561573205,
 'D': 0.046505127755295014,
 'E': 0.05221122367360775,
 'F': 0.03284796331922916,
 'G': 0.05597564130392766,
 'H': 0.019152143725821944,
 'I': 0.04499014293487796,
 'K': 0.0431986250657881,
 'L': 0.07395772315176312,
 'M': 0.018390934473561358,
 'N': 0.03210459490881843,
 'P': 0.03556423149086995,
 'Q': 0.029486451367351854,
 'R': 0.040277187212873954,
 'S': 0.04247012402358559,
 'T': 0.04149779814276836,
 'V': 0.054185610171658634,
 'W': 0.010920081948933564,
 'Y': 0.02670476677559492}