In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
protein0 = pd.read_csv('../proteins/protein0_data.csv', index_col=0)
protein0.head()

  Amino Acid
1          V
2          L
3          S
4          P
5          A

In [4]:
protein0_labels = pd.read_csv('../proteins/protein0_labels.csv', index_col=0)
protein0_labels.head()

   H  E  T  S  B  U
1  0  0  0  0  0  1
2  0  0  0  0  0  1
3  0  0  0  0  0  1
4  1  0  0  0  0  0
5  1  0  0  0  0  0

In [5]:
print protein0.shape[0] == protein0_labels.shape[0]

True

### Construct the large DF

In [21]:
pardir, _, files = os.walk('../proteins/').next()

max_pos = None

for f in files[1:]:
    if 'data' in f:
        n_pos = pd.read_csv(pardir+f, index_col=0).shape[0]
        if n_pos > max_pos:
            max_pos = n_pos
            print f
            
print max_pos

protein0_data.csv
protein100_data.csv
protein106_data.csv
protein107_data.csv
3785

In [22]:
max_df = pd.read_csv('../proteins/protein107_data.csv', index_col=0)

In [29]:
max_df.head(20)

   Amino Acid
1           -
2           -
3           -
4           -
5           -
6           -
7           -
8           -
9           -
10          -
11          -
12          -
13          -
14          -
15          -
16          -
17          -
18          -
19          -
20          -

In [24]:
max_df.values

array([['-'],
       ['-'],
       ['-'],
       ...,
       ['K'],
       ['E'],
       ['D']], dtype=object)

In [25]:
from collections import Counter

In [28]:
Counter(list(max_df.values.ravel()))

Counter({'-': 3486,
         'A': 24,
         'D': 15,
         'E': 35,
         'F': 13,
         'G': 12,
         'H': 2,
         'I': 20,
         'K': 30,
         'L': 29,
         'M': 3,
         'N': 18,
         'P': 13,
         'Q': 12,
         'R': 11,
         'S': 20,
         'T': 19,
         'V': 18,
         'Y': 5})