In [1]:
import pandas as pd
import numpy as np

In [2]:
with open('ssdata/ord.5.tab') as f:
    raw_data = [r.replace('\n', '').split('\t') for r in f.readlines()]
    df = pd.DataFrame(raw_data[1:], columns=raw_data[0])

In [3]:
labels = df[['H', 'E', 'T', 'S', 'B', ' ']]
data = df.drop(['H', 'E', 'T', 'S', 'B', ' '], axis=1)

In [4]:
labels.head()

   H  E  T  S  B
0  0  0  0  0  0  1
1  0  0  0  0  0  1
2  1  0  0  0  0  0
3  1  0  0  0  0  0
4  1  0  0  0  0  0

In [5]:
data.head()

  pos A-2 C-2 D-2 E-2 F-2 G-2 H-2 I-2 K-2 ... N2 P2 Q2 R2 S2 T2 V2 W2 Y2 -2
0   2   0   0   0   0   0   0   0   0   0 ...  0  1  0  0  0  0  0  0  0  0
1   3   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
2   4   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
3   5   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
4   6   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  1  0  0  0  0

[5 rows x 106 columns]

In [6]:
positions = data['pos']

In [7]:
data = data.drop('pos', axis=1)

In [8]:
data.head()

  A-2 C-2 D-2 E-2 F-2 G-2 H-2 I-2 K-2 L-2 ... N2 P2 Q2 R2 S2 T2 V2 W2 Y2 -2
0   0   0   0   0   0   0   0   0   0   0 ...  0  1  0  0  0  0  0  0  0  0
1   0   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
2   0   0   0   0   0   0   0   0   0   1 ...  0  0  0  0  0  0  0  0  0  0
3   0   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  0  0  0  0  0
4   0   0   0   0   0   0   0   0   0   0 ...  0  0  0  0  0  1  0  0  0  0

[5 rows x 105 columns]

In [9]:
positions.head(160)

0        2
1        3
2        4
3        5
4        6
5        7
6        8
7        9
8       10
9       11
10      12
11      13
12      14
13      15
14      16
15      17
16      18
17      19
18      20
19      21
20      22
21      23
22      24
23      25
24      26
25      27
26      28
27      29
28      30
29      31
      ...
130    132
131    133
132    134
133    135
134    136
135    137
136    138
137    139
138    140
139    141
140      2
141      3
142      4
143      5
144      6
145      7
146      8
147      9
148     10
149     11
150     12
151     13
152     14
153     15
154     16
155     17
156     18
157     19
158     20
159     21
Name: pos, dtype: object

In [10]:
data.shape

(134814, 105)

In [34]:
def get_aminos(df, p):
    ex = df.ix[p]
    aas = []
    for k, v in ex.iteritems():
        if v == '1':
            aas.append(k)
    return aas

In [35]:
# checking what the first row should be
print get_aminos(data, 0)
print
print get_aminos(data, 138)
print
print get_aminos(data, 139)

['--2', 'V-1', 'L0', 'S1', 'P2']

['S-2', 'K-1', 'Y0', 'R1', '-2']

['K-2', 'Y-1', 'R0', '-1', '-2']

In [13]:
full_row0 = []

row_0 = ['--2', '--1', 'V0', 'L1', 'S2']


for i, n in enumerate(list(data.columns)):
    if n in row_0:
        full_row0.append(1)
    else:
        full_row0.append(0)

full_row0

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0]

In [14]:
len(full_row0)

105

In [16]:
full_row0 = [str(i) for i in full_row0]
r0 = np.asarray(full_row0)

In [17]:
full_data = np.zeros((data.shape[0]+1, data.shape[1]))

In [18]:
full_data[0] = full_row0

In [19]:
full_data[1:] = data

In [20]:
print data.shape
print full_data.shape

(134814, 105)
(134815, 105)

In [21]:
full_data_df = pd.DataFrame(full_data, columns=data.columns)
full_data_df.head()

,A-2,C-2,D-2,E-2,F-2,G-2,H-2,I-2,K-2,L-2,...,N2,P2,Q2,R2,S2,T2,V2,W2,Y2,-2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
fixed_pos = np.ones(positions.shape[0]+1)
fixed_pos[1:]= positions.values

In [23]:
fixed_pos

array([   1.,    2.,    3., ...,  497.,  498.,  499.])

In [ ]:
# full_data_df.index = fixed_pos

In [24]:
full_data_df.head()

,A-2,C-2,D-2,E-2,F-2,G-2,H-2,I-2,K-2,L-2,...,N2,P2,Q2,R2,S2,T2,V2,W2,Y2,-2
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
full_data_df.to_csv('5_formatted_fixed.csv')

In [25]:
label_row0 = np.asarray([0, 0, 0, 0, 0, 1])
fixed_labels = np.zeros((labels.shape[0]+1, labels.shape[1]))

fixed_labels[0] = label_row0
fixed_labels[1:] = labels

In [26]:
fixed_labels

array([[ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       ...,
       [ 0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  1.]])

In [31]:
fixed_labels_df = pd.DataFrame(fixed_labels, columns=labels.columns)
fixed_labels_df.columns = ['H', 'E', 'T', 'S', 'B', 'U']
fixed_labels_df.head()

     H    E    T    S    B    U
0  0.0  0.0  0.0  0.0  0.0  1.0
1  0.0  0.0  0.0  0.0  0.0  1.0
2  0.0  0.0  0.0  0.0  0.0  1.0
3  1.0  0.0  0.0  0.0  0.0  0.0
4  1.0  0.0  0.0  0.0  0.0  0.0

In [ ]:
fixed_labels_df.to_csv('5_formatted_fixed_labels.csv')

### Now reconstruct sequences

In [43]:
seq = []

for i in xrange(full_data_df.shape[0]):
    aas = get_aminos(full_data_df, i)
    seq.append(aas[2])

In [49]:
seq[:5]

['V0', 'L0', 'S0', 'P0', 'A0']

In [45]:
len(seq)

134815

In [46]:
fixed_seq = [s[0] for s in seq]

In [48]:
fixed_seq[:5]

['V', 'L', 'S', 'P', 'A']

### Now save the sequences

In [52]:
seq_df = pd.DataFrame(fixed_seq)
seq_df.columns = ['Amino Acid']

In [53]:
seq_df.head()

  Amino Acid
0          V
1          L
2          S
3          P
4          A

In [54]:
seq_df.to_csv('sequences.csv')